<footer class="bg-custom text-center text-white">
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- INstagram -->
      <a
        class="btn btn-dark btn-floating m-1"
        href="https://www.instagram.com/blakegraviett_media/"
        target="”_blank”"
        role="button"
        ><img src="../../assets/images/icons/Instagram.png"
      /></a>

      <!-- Twitter -->
      <a
        class="btn btn-dark btn-floating m-1"
        style="background-color: black"
        href="https://twitter.com/blakegraviett"
        target="”_blank”"
        role="button"
        ><img src="../../assets/images/icons/Twiiter.png"
      /></a>

      <!-- linkedin -->
      <a
        class="btn btn-dark btn-floating m-1"
        style="background-color: black"
        href="https://www.linkedin.com/in/blake-graviett-683025276/"
        target="”_blank”"
        role="button"
        ><img src="../../assets/images/icons/Linkedin.png"
      /></a>

      <!-- github -->
      <a
        class="btn btn-dark btn-floating m-1"
        style="background-color: black"
        href="https://github.com/blakegraviett?tab=repositories"
        target="”_blank”"
        role="button"
        ><img src="../../assets/images/icons/github.png"
      /></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        About Us: This applications intent is to help school athletic direcotors
        and managment be able to manage thier sports and school events more
        effentiently. This was also created to challenge us as programmers and
        devolpers, to create a full stack application that solves a real world
        problem. We have created both the frontend and the backend for this
        application and if you like it please reach out to one of our links!This
        application was created by one person. Thank you for choosing us - The
        Sportal Team
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <div class="hr-container">
    <hr class="custom-hr" />
  </div>
  <!-- Copyright -->
  <h5>Created and designed by Blake Graviett</h5>
  <!-- Copyright -->
  <br />
</footer>
