img {
  padding-left: 1%;
  padding-right: 1%;
  width: 8%;
  height: 8%;
}

.bg-custom {
  background-color: black;
}
.nav-link {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ff6000;
  width: 180%;
  font-size: x-large;
}
.nav-link:hover {
  color: #ffa559;
}
.nav-item {
  padding-right: 10%;
  margin-right: 20%;
}
.alert {
  margin-top: 1%;
  margin-right: 3%;
}
