<div class="row">
  <div class="col-md-12 center">
    <div class="custom-dropdown" (click)="toggleDropdown()">
      <div class="dropdown-header">{{ selectedOption }}</div>
      <div class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
        <div
          class="dropdown-item"
          *ngFor="let event of this.allEvents"
          (click)="selectOption(event)"
        >
          {{ event.name }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div>
        <h3 class="panel-title">
          Event Options for: {{ this.selectedEvent.name }}
        </h3>
        <hr />
      </div>
      <div class="panel-body">
        <form [formGroup]="updateEvent" (submit)="saveChanges()">
          <div class="form-group">
            <label for="eventName">Event Name:</label>
            <input
              value="{{ this.selectedEvent.name }}"
              type="text"
              class="form-control"
              formControlName="name"
              id="eventName"
              name="eventName"
            />
          </div>
          <div class="form-group">
            <label for="eventDate">Event description:</label>
            <input
              value="{{ this.selectedEvent.description }}"
              type="text"
              class="form-control"
              formControlName="description"
              id="eventDate"
              name="eventDate"
            />
          </div>
          <div class="form-group">
            <label for="eventDate">Event Date:</label>
            <input
              value="{{ this.selectedEvent.date }}"
              type="date"
              class="form-control"
              formControlName="date"
              id="eventDate"
              name="eventDate"
            />
          </div>
          <div class="form-group">
            <label for="eventDate">Start Time:</label>
            <input
              value="{{ this.selectedEvent.time }}"
              type="time"
              class="form-control"
              formControlName="startTime"
              id="eventDate"
              name="eventDate"
            />
          </div>
          <div class="form-group">
            <label for="eventDate">Watch Link:</label>
            <input
              value="{{ this.selectedEvent.link }}"
              type="text"
              class="form-control"
              formControlName="link"
              id="eventDate"
              name="eventDate"
            />
          </div>
          <div class="form-group">
            <label for="homeTeam">Home Team:</label>
            <select
              class="form-control"
              id="homeTeam"
              name="homeTeam"
              formControlName="homeTeam"
            >
              <option *ngFor="let team of this.allTeams" [value]="team.name">
                {{ team.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="awayTeam">Away Team:</label>
            <select
              class="form-control"
              id="awayTeam"
              name="awayTeam"
              formControlName="awayTeam"
            >
              <option *ngFor="let team of this.allTeams" [value]="team.name">
                {{ team.name }}
              </option>
            </select>
          </div>
          <!-- Add more form fields for other event properties as needed -->
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        <button
          type="submit"
          class="btn btn-danger deleteEvent"
          (click)="areYouSureFunc()"
        >
          Delete Event
        </button>
      </div>
    </div>
    <br *ngIf="areYouSure" />
    <div class="alert-container" *ngIf="areYouSure">
      <div class="alert alert-danger" role="alert">
        <h5 style="color: black" class="center">
          Are you sure you want to delete the event?
        </h5>
        <div class="row">
          <div class="col-md-6 center">
            <button
              type="button"
              class="btn btn-success"
              aria-label="Close"
              (click)="areYouSureFunc()"
            >
              <span aria-hidden="true">Cancel</span>
            </button>
          </div>
          <div class="col-md-6 center">
            <button
              type="button"
              class="btn btn-danger"
              aria-label="Close"
              (click)="deleteEvent()"
            >
              <span aria-hidden="true">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="logo-card" *ngIf="!areYouSure">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <img
            class="logo img-responsive"
            src="../../../assets/images/Sportal-logo.png"
          />
        </div>
        <div class="col-md-6 text-center">
          <img
            class="logo img-responsive"
            src="../../../assets/images/Sportal-logo.png"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="game-card">
      <div class="teams">
        <div class="team">
          <img src="{{ this.homeTeam.logo }}" />
          <span>{{ this.homeTeam.name }}</span>
        </div>
        <div class="versus">VS</div>
        <div class="team">
          <img src="{{ this.awayTeam.logo }}" />
          <span>{{ this.awayTeam.name }}</span>
        </div>
      </div>
      <div class="game-description">
        <h2 class="center">{{ this.selectedEvent.name }}</h2>
        <p *ngIf="this.selectedEvent.description" class="center">
          {{ this.selectedEvent.description }}
        </p>
        <p class="center">Start Time: test</p>
        <div class="view-game">
          <a href="{{ selectedEvent.link }}">Watch Game</a>
        </div>
        <!-- Add start time -->
      </div>
      <div class="game-info">
        <div class="score">
          <span>Live Score</span>
        </div>
        <div class="purchase-tickets">
          <a href="{{ this.selectedEvent.ticketLink }}">Purchase Tickets</a>
        </div>
      </div>
    </div>

    <!-- TODO NEEDS WORK -->
    <div class="worker-card">
      <h4 class="center">Manage Workers for: {{ selectedEvent.name }}</h4>
      <br />
      <!-- Displaying existing workers -->
      <div class="existing-workers">
        <h5 class="workerHeading center">Existing Workers:</h5>
        <hr />
        <ul class="worker-list center">
          <div class="row">
            <div class="col-md-6" *ngFor="let worker of this.allEventWorkers">
              <li>{{ worker.email }}</li>
            </div>
          </div>
        </ul>
      </div>

      <!-- Add Worker Form -->
      <div class="remove-worker-form">
        <h5 class="workerHeading">Add Worker:</h5>
        <form [formGroup]="addWorkerForm" (submit)="submitAddWorker()">
          <select class="form-control" formControlName="email">
            <option
              *ngFor="let worker of this.allWorkers"
              [value]="worker.email"
            >
              {{ worker.email }}
            </option>
          </select>
          <button type="submit">Add Worker</button>
        </form>
      </div>
      <!-- Remove Worker Form -->
      <div class="remove-worker-form">
        <h5 class="workerHeading">Remove Worker:</h5>
        <form [formGroup]="removeWorkerForm" (submit)="submitRemoveWorker()">
          <select class="form-control" formControlName="email">
            <option
              *ngFor="let worker of this.allEventWorkers"
              [value]="worker.email"
            >
              {{ worker.email }}
            </option>
          </select>
          <button type="submit">Remove Worker</button>
        </form>
      </div>
    </div>
  </div>
</div>
