<br />
<div class="row">
  <!-- INFO MATION -->
  <div class="col-md-6">
    <h1 class="center">Welcome to Sportal Manager!</h1>
    <hr />
    <p>
      Here at Sportal Manager, we take care of your sports and event management
      needs, all in one application! Some of the things you can do with Sportal
      Manager is:
    </p>
    <ul>
      <li>Create events with a detailed description</li>
      <li>A schedule for your fans and loyal attendees</li>
      <li>Live score updates</li>
      <li>Manage and maintain your workers for specific events</li>
      <li>Ticketing for all hosted events</li>
      <li>And so much more...</li>
    </ul>
    <p>
      Make an account with us to see your favorite organization schedules and
      events or if your an owner, contact us directly so we can get you started
      on creating an engaging platform for all your events! Contact us at:
      <a href="#">sportalmanager&#64;gmail.com</a>
    </p>
  </div>

  <!-- LOGO -->
  <div class="col-md-6">
    <div class="centered-image-container center">
      <img
        class="centered-image center"
        src="/assets/images/Sportal-logo.png"
        alt=""
      />
    </div>
  </div>
</div>
<br />
