<div *ngIf="!isOwner" class="alert alert-danger center" role="alert">
  You must be an ownser of an organization to be able to access this page. If
  you want to add more ownsers to your organization please contact us at
  sportalmanager&#64;gmail.com.
</div>
<div *ngIf="isOwner">
  <h2 class="center">User Management</h2>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Email:</th>
        <th>Role:</th>
        <th>Action:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of this.allUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-success" (click)="promote(user.id)">
            Promote
          </button>
          <button class="btn btn-danger" (click)="demote(user.id)">
            Demote
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
